/* Global */
html {
    /*Base font size*/
  font-size: 18px;
}

body {
  line-height: 1.4rem;
    /*Base Font*/
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: auto;
}

/* Header */
header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;

    /*Height at Large Screen*/
  height: 30rem;
  background-size: cover;
  padding-top: 1rem;
}

nav {
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;

    /*Flex Container*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
    /*Flex Container*/
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
}

nav span {
  margin-left: 1rem;
}

ul {
    /*Margin Right Split in ul li*/
  margin-right: 1rem;
}

ul li {
    /*Padding split with ul margin*/
  padding: 0 1rem;
    /*Make it inline*/
  display: inline;
}

header div.container {
  display: flex;
    /*Align right*/
  justify-content: flex-end;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

#main-banner {
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  /*Offset to the right*/
  margin-right: -2rem;
}

/*Services*/
.servicesContainer {
  display: flex;
  justify-content: center;
}

.servicesItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
    /*Margin top and bottom 3 and sides together 6*/
  margin: 3rem;
  height: 8rem;
  width: 5rem;
    /*Text align to center of images*/
  text-align: center;
}

#comprehensiveExams img{
  width: 3.5rem;
}

#customFittings img, #fastDelivery img {
  width: 5rem;
}

/*Philosophy and Appointments*/
.phiAppContainer {
  display: flex;
  justify-content: center;
}

.phiAppItem {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.title {
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
    /*Font to white*/
  color: white;
    /*Use max because it must not change*/
  max-width: 10rem;
}

.phiAppItem p {
  padding-top: 1rem;
}
